<div class="container justify-content-center">
  {{!-- 類別 --}}
  <div class="row">
    <div class="dropdown">
      <button class="btn btn-outline-dark dropdown-toggle col-6" type="button" id="dropdownMenuButton1"
        data-bs-toggle="dropdown" aria-expanded="false">
        類別
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">家居物業</a></li>
        <li><a class="dropdown-item" href="#">交通出行</a></li>
        <li><a class="dropdown-item" href="#">休閒娛樂</a></li>
        <li><a class="dropdown-item" href="#">餐飲食品</a></li>
        <li><a class="dropdown-item" href="#">其他</a></li>
      </ul>
    </div>
    {{!-- 總金額 --}}
    <div class="totalAmount">
      <h5>總金額：</h5>
      <h1>{{totalAmount}}</h1>
    </div>
    {{!-- record --}}
    <ul class="list-group">
      {{#each records}}
      <li class="list-group-item">
        <div class="icon">
          <i class="{{this.category}}"></i>
        </div>
        <div class="name">{{this.name}}</div>
        <div class="date">{{this.date}}</div>
        <div class="amount">{{this.amount}}</div>

        <div class="col-auto">
          <a class="btn btn-success" href="./records/{{ this._id }}/edit">修改</a>
          <form action="./records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
            <button class="btn btn-danger" type="submit">刪除</button>
          </form>
        </div>
      </li>
      {{/each}}
    </ul>
    {{!-- 新增按紐 --}}
    <a class="btn btn-outline-danger" href="/records/new">Create</a>
  </div>
</div>